<ion-header>
  <ion-toolbar color="tertiary">
      
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/list"></ion-back-button>
          </ion-buttons>

                    
      
    <ion-title>Creation Reclamation</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-item>
    <ion-label>Reclamation</ion-label>
    <ion-input [(ngModel)]="message" placeholder="Votre texte de reclamation"></ion-input>
  </ion-item>
 
  
  <ion-item>
    <ion-label>Lieux</ion-label>
    <ion-select [(ngModel)]="locals_id" ok-text="Ok" cancel-text="Annulé">
      <ion-select-option value="1">Reception</ion-select-option>
      <ion-select-option value="2">Bar</ion-select-option>
      <ion-select-option value="3">Café Maure</ion-select-option>
      <ion-select-option value="4">Piscine</ion-select-option>
      <ion-select-option value="5">Piscine Couverte</ion-select-option>
      <ion-select-option value="6">Jardin</ion-select-option>
      <ion-select-option value="7">Centre Thalasso</ion-select-option>
      <ion-select-option value="8">Cuisine</ion-select-option>
      <ion-select-option value="9">Terrains Sports</ion-select-option>
      <ion-select-option value="10">Cour Service</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
      <ion-label>Technicien</ion-label>
      <ion-select [(ngModel)]="userreparation_id" ok-text="Ok" cancel-text="Annulé">
        <ion-select-option value="2">KAIS</ion-select-option>
        <ion-select-option value="5">MOEZ</ion-select-option>
        <ion-select-option value="6">ABDELHALIM</ion-select-option>
      </ion-select>
  </ion-item>
  
    <ion-item>
        <ion-label>Etats</ion-label>
        <ion-select [(ngModel)]="etat_id">
          <ion-select-option value="3">En attente</ion-select-option>
        </ion-select>
      </ion-item>
  
       
  <ion-item>
    <ion-button (click)="submitForm()">Ajouter
    </ion-button>
  </ion-item>
 
</ion-content> 
