

<ion-content>
    <div class="padding">
        <div class="logo">
            <img src="..\..\assets\Hotel.png">
        </div>
      <ion-item>
        <ion-label color="light" >Login</ion-label>
        <ion-input color="light" [(ngModel)]="username"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input color="light" type="password" placeholder="Mot de passe"[(ngModel)]="password"></ion-input>
      </ion-item>
      
    
  
      <div class="flex" >
        <ion-button color="light" fill="outline" shape="round" expand="block" routerLink='/list'>
          <ion-icon slot="start" name="log-in"></ion-icon>
          Connexion
        </ion-button>
  
      </div>
    </div>

</ion-content>



