<ion-header>
  <ion-toolbar>
    <ion-title>
     Gestion des Réclamations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br/>
    
 
  <img src="..\..\assets\Hotel.png">
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


  <table>
      
      <tr>
      <td>Login:</td>
      <td><input type="text" size=25 name="userid"></td>
      </tr>
      <br/>
      <tr>
      <td>Password:</td>
      <td><input type="Password" size=25 name="pwd"></td>
      </tr>
      
      <tr>
          <ion-button  routerLink='/list' expand="block">Login</ion-button>

      </tr>
      
  </table>


</ion-content>



